# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment files
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac OS and Linux hidden files
.DS_Store
Thumbs.db
